/*Global Styles*/
html{
  font-family: cursive;
  font-size: 18px;
}
/*Cart Styles*/
#cart{
  font-family: helvetica;
  margin: 50px;
/*Grid Display makes it show in a manner*/
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  grid-gap: 50px;
  background: wheat;
  padding: 50px;
}
#estimate-button{
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background 0.5s;
}
#estimate-button:hover{
  background: violet;
}
.items{
  background: hsla(20, 63%, 57%, 0.2);
}
